<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmd.mall.mapper.UmsCoachIntegrationLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmd.mall.model.domain.UmsCoachIntegrationLog">
    <result column="id" property="id" />
    <result column="creator" property="creator" />
    <result column="creator_id" property="creatorId" />
    <result column="created_time" property="createdTime" />
    <result column="last_operator" property="lastOperator" />
    <result column="last_operator_id" property="lastOperatorId" />
    <result column="update_time" property="updateTime" />
        <result column="coach_id" property="coachId" />
        <result column="change_type" property="changeType" />
        <result column="change_count" property="changeCount" />
        <result column="operate_man" property="operateMan" />
        <result column="operate_note" property="operateNote" />
        <result column="source_type" property="sourceType" />
        <result column="integral_trend" property="integralTrend" />
        <result column="integration" property="integration" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        creator,
        creator_id,
        created_time,
        last_operator,
        last_operator_id,
        update_time,
        coach_id, change_type, change_count, operate_man, operate_note, source_type, integral_trend, integration
    </sql>

</mapper>
