<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmd.admin.mapper.CommentMapper">

   <!--通用查询映射结果-->
    <resultMap id="commentMap" type="com.dmd.admin.model.domain.CommentBean">
        <result column="commentId" property="commentId" />
        <result column="lw_name" property="commentName" />
        <result column="lw_head_portrait" property="commentHeadPortrait" />
        <result column="lw_date" property="createTime" />
        <result column="lw_content" property="content" />
        <result column="lw_comment_type" property="type" />
        <result column="ip_address" property="ipAddress" />
        <result column="status" property="status" />
        <result column="delflag" property="delflag" />
        <result column="lw_for_uid" property="forUid" />
        <result column="lw_for_dynamic_id" property="forDynamicId" />
        <result column="lw_for_diveLog_id" property="forDiveLogId" />
        <result column="lw_userid" property="userId" />
        <result column="lw_for_pid" property="forPid" />
        <result column="user_type" property="userType" />
        <result column="for_user_type" property="forUserType" />
    </resultMap>

    <select id="queryCommentAll" parameterType="com.dmd.admin.model.domain.CommentBean" resultMap="commentMap">
        SELECT
        dc.commentId,
        um.nick_name AS lw_name,
        um2.nick_name AS forUserTypeName,
        um.icon AS lw_head_portrait,
        dc.lw_date,
        dc.lw_content,
        dc.lw_comment_type,
        dc.ip_address,
        dc.STATUS,
        dc.delflag,
        dc.lw_for_uid,
        dc.lw_for_dynamic_id,
        dc.lw_userid,
        dc.lw_for_pid,
        dc.user_type
        FROM
        dmd_dynamic_comment dc
        LEFT JOIN ums_member um ON lw_userid = um.id
        LEFT JOIN ums_coach um2 ON lw_for_uid = um2.id
        <include refid="commentWhere"></include>
        ORDER BY
        dc.lw_date DESC
    </select>

    <!-- 公用标签 -->
    <sql id="commentWhere">
        <where>
            <!-- 文章内容模糊查询 -->
            <if test="content !=null and content != ''">
                and lw_content like '%${content}%'
            </if>
            <!-- 日期区间查询 -->
            <if test="stratTime != null">
                and lw_date &gt;= #{stratTime}
            </if>
            <if test="endTime != null">
                and lw_date &lt;= #{endTime}
            </if>
            <!-- 某个动态下的所有评论与回复 -->
            <if test="forDynamicId !=null">
                and lw_for_dynamic_id = #{forDynamicId}
            </if>
            <!-- 某个日志下的所有评论与回复 -->
            <if test="forDiveLogId !=null">
                and lw_for_diveLog_id = #{forDiveLogId}
            </if>
            <!-- 用户昵称 -->
            <if test="commentName !=null and commentName != '' ">
                and um.nick_name like '%${commentName}%'
            </if>
                and delflag = 0
                and dc.user_type = 1
                and (dc.lw_for_diveLog_id is null or  dc.lw_for_diveLog_id = "")
        </where>
    </sql>

    <select id="queryCommentAllByCoach" parameterType="com.dmd.admin.model.domain.CommentBean" resultMap="commentMap">
        SELECT
        dc.commentId,
        um.nick_name AS lw_name,
        um2.nick_name AS forUserTypeName,
        um.icon AS lw_head_portrait,
        dc.lw_date,
        dc.lw_content,
        dc.lw_comment_type,
        dc.ip_address,
        dc.STATUS,
        dc.delflag,
        dc.lw_for_uid,
        dc.lw_for_dynamic_id,
        dc.lw_userid,
        dc.lw_for_pid,
        dc.user_type
        FROM
        dmd_dynamic_comment dc
        LEFT JOIN ums_coach um ON lw_userid = um.id
        LEFT JOIN ums_member um2 ON lw_for_uid = um2.id
        <include refid="commentWhereByCoach"></include>
        ORDER BY
        dc.lw_date DESC
    </select>


    <!-- 公用标签 -->
    <sql id="commentWhereByCoach">
        <where>
            <!-- 文章内容模糊查询 -->
            <if test="content !=null and content != ''">
                and lw_content like '%${content}%'
            </if>
            <!-- 日期区间查询 -->
            <if test="stratTime != null">
                and lw_date &gt;= #{stratTime}
            </if>
            <if test="endTime != null">
                and lw_date &lt;= #{endTime}
            </if>
            <!-- 某个动态下的所有评论与回复 -->
            <if test="forDynamicId !=null">
                and lw_for_dynamic_id = #{forDynamicId}
            </if>
            <!-- 某个日志下的所有评论与回复 -->
            <if test="forDiveLogId !=null">
                and lw_for_diveLog_id = #{forDiveLogId}
            </if>
            <!-- 用户昵称 -->
            <if test="commentName !=null and commentName != '' ">
                and um.nick_name like '%${commentName}%'
            </if>
            and delflag = 0
            and dc.user_type = 2
            and (dc.lw_for_diveLog_id is null or  dc.lw_for_diveLog_id = "")
        </where>
    </sql>



    <update id="updateCommentDelflag" parameterType="java.lang.Long" >
        UPDATE dmd_dynamic_comment SET delflag = 1 WHERE commentId IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="updateComment" parameterType="java.lang.Long">
        UPDATE dmd_dynamic_comment SET delflag = 1 WHERE lw_for_dynamic_id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="updateDiveLogDelflag" parameterType="java.lang.Long">
        UPDATE dmd_dynamic_comment SET delflag = 1 WHERE lw_for_diveLog_id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="selectCommentByIdMember" parameterType="java.lang.Long" resultMap="commentMap">
        SELECT
        dc.commentId,
        um.nick_name AS lw_name,
        um.icon AS lw_head_portrait,
        dc.lw_date,
        dc.lw_content,
        dc.lw_comment_type,
        dc.ip_address,
        dc.STATUS,
        dc.delflag,
        dc.lw_for_uid,
        dc.lw_for_dynamic_id,
        dc.lw_userid,
        dc.lw_for_pid,
        dc.user_type
        FROM
        dmd_dynamic_comment dc
        LEFT JOIN ums_member um ON dc.lw_userid = um.id
        WHERE dc.commentId = #{commentId}
    </select>

    <select id="selectCommentByIdCoach" parameterType="java.lang.Long" resultMap="commentMap">
        SELECT
        dc.commentId,
        um.nick_name AS lw_name,
        um.icon AS lw_head_portrait,
        dc.lw_date,
        dc.lw_content,
        dc.lw_comment_type,
        dc.ip_address,
        dc.STATUS,
        dc.delflag,
        dc.lw_for_uid,
        dc.lw_for_dynamic_id,
        dc.lw_userid,
        dc.lw_for_pid,
        dc.user_type
        FROM
        dmd_dynamic_comment dc
        LEFT JOIN ums_coach um ON lw_userid = um.id
        WHERE dc.commentId = #{commentId}
    </select>


    <select id="queryCommentByDynamic" parameterType="java.lang.Long" resultMap="commentMap">
        SELECT
        dc.commentId,
        um.nick_name AS lw_name,
        um2.nick_name AS forUserTypeName,
        um.icon AS lw_head_portrait,
        dc.lw_date,
        dc.lw_content,
        dc.lw_comment_type,
        dc.ip_address,
        dc.STATUS,
        dc.delflag,
        dc.lw_for_uid,
        dc.lw_for_dynamic_id,
        dc.lw_userid,
        dc.lw_for_pid,
        dc.user_type
        FROM
        dmd_dynamic_comment dc
        LEFT JOIN ums_member um ON lw_userid = um.id
        LEFT JOIN ums_coach um2 ON lw_for_uid = um2.id
        WHERE  dc.lw_for_dynamic_id = #{forDynamicId}
              and delflag = 0
              and dc.user_type = 1
              and (dc.lw_for_diveLog_id is null or  dc.lw_for_diveLog_id = "")
        ORDER BY
        dc.lw_date DESC
    </select>


    <select id="queryCommentByDynamicCoach" parameterType="java.lang.Long" resultMap="commentMap">
        SELECT
        dc.commentId,
        um.nick_name AS lw_name,
        um2.nick_name AS forUserTypeName,
        um.icon AS lw_head_portrait,
        dc.lw_date,
        dc.lw_content,
        dc.lw_comment_type,
        dc.ip_address,
        dc.STATUS,
        dc.delflag,
        dc.lw_for_uid,
        dc.lw_for_dynamic_id,
        dc.lw_userid,
        dc.lw_for_pid,
        dc.user_type
        FROM
        dmd_dynamic_comment dc
        LEFT JOIN ums_coach um ON lw_userid = um.id
        LEFT JOIN ums_member um2 ON lw_for_uid = um2.id
        WHERE  dc.lw_for_dynamic_id = #{forDynamicId}
              and delflag = 0
              and dc.user_type = 2
              and (dc.lw_for_diveLog_id is null or  dc.lw_for_diveLog_id = "")
        ORDER BY
        dc.lw_date DESC
    </select>
</mapper>