<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmd.admin.mapper.DiveCertificateAdminMapper">

    <!--通用查询映射结果-->
    <resultMap id="diveCertificateMap" type="com.dmd.admin.model.domain.DiveCertificateBean">
        <result column="id" property="id" />
        <result column="userid" property="userId" />
        <result column="owd" property="owd" />
        <result column="aowd" property="aowd" />
        <result column="efa" property="efa" />
        <result column="rd" property="rd" />
        <result column="sc" property="sc" />
        <result column="msd" property="msd" />
        <result column="dm" property="dm" />
        <result column="owsi" property="owsi" />
        <result column="msdt" property="msdt" />
        <result column="idcsi" property="idcsi" />
        <result column="mi" property="mi" />
        <result column="cd" property="cd" />
        <result column="createTime" property="createTime" />
        <result column="operator" property="operator" />
        <result column="status" property="status" />
    </resultMap>
    <!--通用查询映射结果-->
    <resultMap id="CertificateMap" type="com.dmd.admin.model.domain.CertificateAppBean">
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="pictures" property="pictures" />
        <result column="status" property="status" />
        <result column="certificate_id" property="certificateId" />
        <result column="create_time" property="createTime" />
        <result column="adop_time" property="adopTime" />
        <result column="operator" property="operator" />
        <result column="reason" property="reason" />
    </resultMap>

    <update id="updateCertificateStatusNoPass" parameterType="com.dmd.admin.model.domain.CertificateAppBean">
        UPDATE dmd_dive_certificate_app SET
        user_id = #{userId},
        pictures = #{pictures},
        status = #{status},
        certificate_id = #{certificateId},
        create_time = #{createTime},
        adop_time = #{adopTime},
        operator = #{operator},
        reason = #{reason}
        where id = #{id}
    </update>


    <select id="queryDiveCertificate" resultMap="CertificateMap" parameterType="com.dmd.admin.model.domain.CertificateAppBean">
        SELECT da.id,da.user_id,da.pictures,da.status,da.certificate_id,da.create_time,da.adop_time,da.operator,da.reason ,pc.english_shorthand AS certificateName
        FROM dmd_dive_certificate_app da
        LEFT JOIN
        pms_certificate pc ON da.certificate_id = pc.id
        <include refid="diveCertificateWhere"></include>
        ORDER by da.status
    </select>
    <!-- 公用标签 -->
    <sql id="diveCertificateWhere">
        <where>
            <!-- 日期区间查询 -->
            <if test="stratTime != null">
                and da.create_time &gt;= #{stratTime}
            </if>
            <if test="endTime != null">
                and da.create_time &lt;= #{endTime}
            </if>
            <!-- 按照用户id查找 -->
            <if test="userId !=null">
                and da.user_id = #{userId}
            </if>
            <!-- 按照状态查找 -->
            <if test="status !=null">
                and da.status = #{status}
            </if>
                and da.pictures &lt;&gt; &quot;&quot;
        </where>
    </sql>

    <update id="updateDiveCertificateStatus" parameterType="java.lang.Long" >
        UPDATE dmd_dive_certificate_app SET status = 1,reason = '' ,adop_time = now() WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="updateDiveCertificateStatusNoPass" parameterType="java.lang.Long" >
        UPDATE dmd_dive_certificate SET status = 2 WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>


</mapper>
