<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmd.admin.mapper.DynamicAmdinMappper">

    <!-- 通用查询映射结果 -->
    <resultMap id="dynamicMap" type="com.dmd.admin.model.domain.DynamicBean">
        <result column="r_id" property="id" />
        <result column="r_author" property="dynamicAuthor" />
        <result column="r_head_portrait" property="dynamicHeadPortrait" />
        <result column="r_content" property="dynamicContent" />
        <result column="r_createtime" property="createTime" />
        <result column="r_address" property="dynamicAddress" />
        <result column="r_picture" property="dynamicPicture" />
        <result column="r_praise" property="dynamicPraise" />
        <result column="r_share_num" property="dynamicSharenum" />
        <result column="r_comment_num" property="dynamicCommentnum" />
        <result column="r_userid" property="userId" />
        <result column="r_topicid" property="topicId" />
        <result column="r_topicName" property="topicName" />
        <result column="delflag" property="delflag" />
    </resultMap>

    <select id="queryDynamicPage" resultMap="dynamicMap" parameterType="com.dmd.admin.model.domain.DynamicBean">
        SELECT dy.r_id,dy.r_author,dy.r_head_portrait,dy.r_content,dy.r_createtime,dy.r_address,dy.r_picture,dy.r_praise,dy.r_share_num,dy.r_comment_num,dy.r_userid,dy.r_topicid,dt.topicName as r_topicName,delflag
        FROM dmd_dynamic dy LEFT JOIN dmd_dynamic_topic dt
        ON dy.r_topicid  = dt.id
        <include refid="dynamicWhere"></include>
        ORDER BY dy.r_createtime DESC
    </select>

    <!-- 公用标签 -->
    <sql id="dynamicWhere">
        <where>
            <!-- 文章内容模糊查询 -->
            <if test="dynamicContent !=null and dynamicContent != ''">
                and dy.r_content like '%${dynamicContent}%'
            </if>
            <!-- 发布地址模糊查询 -->
            <if test="dynamicAddress !=null and dynamicAddress != ''">
                and dy.r_address like '%${dynamicAddress}%'
            </if>
            <!-- 日期区间查询 -->
            <if test="stratTime != null">
                and dy.r_createtime &gt;= #{stratTime}
            </if>
            <if test="endTime != null">
                and dy.r_createtime &lt;= #{endTime}
            </if>
            <!-- 话题类型查询 -->
            <if test="topicId != null">
                and dy.r_topicid = #{topicId}
            </if>
                and delflag = 0
        </where>
    </sql>

    <select id="queryDynamicById" parameterType="java.lang.Long" resultType="Long">
        SELECT r_topicid FROM dmd_dynamic WHERE r_id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <update id="updateDynamicDelflag" parameterType="java.lang.Long">
        UPDATE dmd_dynamic SET delflag = 1 WHERE r_id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="selectDynamicById" parameterType="java.lang.Long" resultMap="dynamicMap">
        SELECT dy.r_id,dy.r_author,dy.r_head_portrait,dy.r_content,dy.r_createtime,dy.r_address,dy.r_picture,dy.r_praise,dy.r_share_num,dy.r_comment_num,dy.r_userid,dy.r_topicid,dt.topicName as r_topicName,delflag
        FROM dmd_dynamic dy LEFT JOIN dmd_dynamic_topic dt
        ON dy.r_topicid  = dt.id WHERE  dy.r_id = #{value} AND delflag = 0
    </select>
</mapper>
