<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmd.admin.mapper.IntegralGiftsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="integralGiftsMap" type="com.dmd.admin.model.domain.IntegralGiftsBean">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="picture" property="picture" />
        <result column="integral" property="integral" />
        <result column="introduce" property="introduce" />
        <result column="createtime" property="createTime" />
        <result column="updatetime" property="updateTime" />
        <result column="status" property="status" />
    </resultMap>

    <select id="queryIntegralGifts" resultMap="integralGiftsMap">
        SELECT id,name,picture,integral,introduce,createtime,updatetime,status FROM dmd_integral_gift
        <include refid="giftsWhere"></include>
    </select>
    <!-- 公用标签 -->
    <sql id="giftsWhere">
        <where>
            <!-- 商品名称模糊查询 -->
            <if test="name !=null and name != ''">
                and name like '%${name}%'
            </if>
            <!-- 日期区间查询 -->
            <if test="stratTime != null">
                and createTime &gt;= #{stratTime}
            </if>
            <if test="endTime != null">
                and createTime &lt;= #{endTime}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </sql>

    <insert id="addIntegralGifts" parameterType="com.dmd.admin.model.domain.IntegralGiftsBean">
        INSERT INTO dmd_integral_gift
        (
          name,
          picture,
          integral,
          introduce,
          createtime,
          updatetime,
          status
        ) VALUES (
          #{name,jdbcType=VARCHAR},
          #{picture,jdbcType=VARCHAR},
          #{integral,jdbcType=INTEGER},
          #{introduce,jdbcType=VARCHAR},
          #{createTime,jdbcType=TIMESTAMP},
          #{updateTime,jdbcType=TIMESTAMP},
          0
        )
    </insert>

    <select id="findIntegralGiftsInfoById" parameterType="java.lang.Long" resultMap="integralGiftsMap">
        SELECT id,name,picture,integral,introduce,createtime,updatetime,status FROM dmd_integral_gift WHERE id = #{value}
    </select>

    <update id="updateIntegralGiftsById" parameterType="com.dmd.admin.model.domain.IntegralGiftsBean">
        UPDATE dmd_integral_gift SET
        name = #{name},
        picture = #{picture},
        integral = #{integral},
        introduce = #{introduce},
        createtime = #{createTime},
        updatetime = #{updateTime},
        status = #{status}
        where id = #{id}
    </update>

    <delete id="deleteIntegralGiftsById" parameterType="java.lang.Long">
        DELETE FROM  dmd_integral_gift  WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateIntegralGiftsPass" parameterType="java.lang.Long" >
        UPDATE dmd_integral_gift SET status = 0 WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="updateIntegralGiftsNoPass" parameterType="java.lang.Long" >
        UPDATE dmd_integral_gift SET status = 1 WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>