<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmd.admin.mapper.OmsFashionableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmd.admin.model.domain.OmsFashionable">
    <result column="id" property="id" />
    <result column="creator" property="creator" />
    <result column="creator_id" property="creatorId" />
    <result column="created_time" property="createdTime" />
    <result column="last_operator" property="lastOperator" />
    <result column="last_operator_id" property="lastOperatorId" />
    <result column="update_time" property="updateTime" />
        <result column="collecting_no" property="collectingNo" />
        <result column="user_id" property="userId" />
        <result column="transfer_amount" property="transferAmount" />
        <result column="order_no" property="orderNo" />
        <result column="order_money" property="orderMoney" />
        <result column="handling_fee" property="handlingFee" />
        <result column="oid_paybill" property="oidPaybill" />
        <result column="close_time" property="closeTime" />
        <result column="order_type" property="orderType" />
        <result column="payment_success_time" property="paymentSuccessTime" />
        <result column="payment_time" property="paymentTime" />
        <result column="checkout_destination" property="checkoutDestination" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        creator,
        creator_id,
        created_time,
        last_operator,
        last_operator_id,
        update_time,
        collecting_no, user_id, transfer_amount, order_no, order_money, handling_fee, close_time, order_type, payment_success_time, payment_time, checkout_destination, status, oid_paybill
    </sql>
    <update id="updateFashionableStatus">
        update oms_fashionable
        set status = #{status}, last_operator = #{userName}, last_operator_id = #{userId} , update_time = now()
        where collecting_no = #{collectingNo}
    </update>
    <select id="selectByCollectingNo" resultType="com.dmd.admin.model.domain.OmsFashionable">
        select <include refid="Base_Column_List"/>
        from oms_fashionable
        where collecting_no = #{collectingNo}
    </select>
    <select id="selectFashionableList" resultType="com.dmd.admin.model.domain.OmsFashionable">
        select <include refid="Base_Column_List"/>
        from oms_fashionable
        where 1 = 1
        <if test="orderSn != null">
            and order_sn = #{orderSn}
        </if>
        <if test="userName != null">
            and user_name = #{userName}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        order by update_time desc
    </select>

</mapper>
