<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmd.admin.mapper.OmsIntegralOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmd.admin.model.domain.OmsIntegralOrder">
    <result column="id" property="id" />
    <result column="creator" property="creator" />
    <result column="creator_id" property="creatorId" />
    <result column="created_time" property="createdTime" />
    <result column="last_operator" property="lastOperator" />
    <result column="last_operator_id" property="lastOperatorId" />
    <result column="update_time" property="updateTime" />
        <result column="order_sn" property="orderSn" />
        <result column="member_id" property="memberId" />
        <result column="user_type" property="userType" />
        <result column="shop_id" property="shopId" />
        <result column="member_username" property="memberUsername" />
        <result column="product_id" property="productId" />
        <result column="product_pic" property="productPic" />
        <result column="product_name" property="productName" />
        <result column="product_title" property="productTitle" />
        <result column="product_brand" property="productBrand" />
        <result column="product_type" property="productType" />
        <result column="product_price" property="productPrice" />
        <result column="product_quantity" property="productQuantity" />
        <result column="product_sku_id" property="productSkuId" />
        <result column="product_category_id" property="productCategoryId" />
        <result column="product_attr" property="productAttr" />
        <result column="total_amount" property="totalAmount" />
        <result column="pay_amount" property="payAmount" />
        <result column="freight_amount" property="freightAmount" />
        <result column="pay_type" property="payType" />
        <result column="source_type" property="sourceType" />
        <result column="status" property="status" />
        <result column="order_type" property="orderType" />
        <result column="delivery_company" property="deliveryCompany" />
        <result column="delivery_sn" property="deliverySn" />
        <result column="receiver_name" property="receiverName" />
        <result column="receiver_mobile_no" property="receiverMobileNo" />
        <result column="province_name" property="provinceName" />
        <result column="city_name" property="cityName" />
        <result column="district_name" property="districtName" />
        <result column="detail_address" property="detailAddress" />
        <result column="receiver_zip_code" property="receiverZipCode" />
        <result column="remark" property="remark" />
        <result column="confirm_status" property="confirmStatus" />
        <result column="delete_status" property="deleteStatus" />
        <result column="use_integration" property="useIntegration" />
        <result column="payment_time" property="paymentTime" />
        <result column="delivery_time" property="deliveryTime" />
        <result column="receive_time" property="receiveTime" />
        <result column="end_time" property="endTime" />
        <result column="close_time" property="closeTime" />
    </resultMap>
    <resultMap id="orderDetailResultMap" type="com.dmd.admin.model.vo.IntegralOrderDetailVo" extends="BaseResultMap">
        <collection property="historyList" resultMap="com.dmd.admin.mapper.OmsOrderOperateHistoryMapper.BaseResultMap" columnPrefix="history_"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        creator,
        creator_id,
        created_time,
        last_operator,
        last_operator_id,
        update_time,
        order_sn, member_id, user_type, shop_id, member_username, product_id, product_pic, product_name, product_title, product_brand, product_type, product_price, product_quantity, product_sku_id, product_category_id, product_attr, total_amount, pay_amount, freight_amount, pay_type, source_type, status, order_type, delivery_company, delivery_sn, receiver_name, receiver_mobile_no, province_name, city_name, district_name, detail_address, receiver_zip_code, remark, confirm_status, delete_status, use_integration, payment_time, delivery_time, receive_time, end_time, close_time
    </sql>

    <select id="getList" resultMap="com.dmd.admin.mapper.OmsIntegralOrderMapper.BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM
        oms_integral_order
        WHERE
        delete_status = 0
        <if test="queryParam.orderSn!=null and queryParam.orderSn!=''">
            AND order_sn = #{queryParam.orderSn}
        </if>
        <if test="queryParam.status!=null">
            AND `status` = #{queryParam.status}
        </if>
        <if test="queryParam.sourceType!=null">
            AND source_type = #{queryParam.sourceType}
        </if>
        <if test="queryParam.orderType!=null">
            AND order_type = #{queryParam.orderType}
        </if>
        <if test="queryParam.createTime!=null and queryParam.createTime!=''">
            AND create_time LIKE concat(#{queryParam.createTime},"%")
        </if>
        <if test="queryParam.receiverName!=null">
            AND receiver_name like '%${queryParam.receiverName}%' or receiver_mobile_no = #{queryParam.receiverName}
        </if>
        order by update_time desc
    </select>

    <update id="delivery">
        UPDATE oms_integral_order
        SET
        delivery_sn = CASE id
        <foreach collection="list" item="item">
            WHEN #{item.orderId} THEN #{item.deliverySn}
        </foreach>
        END,
        delivery_company = CASE id
        <foreach collection="list" item="item">
            WHEN #{item.orderId} THEN #{item.deliveryCompany}
        </foreach>
        END,
        delivery_time = CASE id
        <foreach collection="list" item="item">
            WHEN #{item.orderId} THEN now()
        </foreach>
        END,
        `status` = CASE id
        <foreach collection="list" item="item">
            WHEN #{item.orderId} THEN 2
        </foreach>
        END
        WHERE
        id IN
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item.orderId}
        </foreach>
        AND `status` = 1
    </update>

    <select id="getDetail" resultMap="orderDetailResultMap">
        SELECT o.*,
            oh.id history_id,
            oh.operate_man history_operate_man,
            oh.create_time history_create_time,
            oh.order_status history_order_status,
            oh.note history_note
        FROM
            oms_integral_order o
        LEFT JOIN oms_order_operate_history oh ON o.id = oh.order_id and oh.order_type = 2
        WHERE
            o.id = #{id}
        ORDER BY o.update_time DESC
    </select>
</mapper>
