<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmd.mall.mapper.CommentMapper">

   <!--通用查询映射结果-->
    <resultMap id="commentMap" type="com.dmd.mall.model.domain.CommentBean">
        <result column="commentId" property="commentId" />
        <result column="lw_name" property="commentName" />
        <result column="lw_head_portrait" property="commentHeadPortrait" />
        <result column="lw_date" property="createTime" />
        <result column="lw_content" property="content" />
        <result column="lw_comment_type" property="type" />
        <result column="ip_address" property="ipAddress" />
        <result column="status" property="status" />
        <result column="delflag" property="delflag" />
        <result column="lw_for_uid" property="forUid" />
        <result column="lw_for_dynamic_id" property="forDynamicId" />
        <result column="lw_userid" property="userId" />
        <result column="lw_for_pid" property="forPid" />
        <result column="user_type" property="userType" />
    </resultMap>

    <select id="queryCommentById" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT commentId FROM dmd_dynamic_comment WHERE lw_for_dynamic_id = #{forDynamicId}
    </select>

    <select id="findCommentListById" parameterType="map" resultMap="commentMap">
        SELECT
        dc.commentId,
        um.nick_name AS lw_name,
        um.icon AS lw_head_portrait,
        dc.lw_date,
        dc.lw_content,
        dc.lw_comment_type,
        dc.ip_address,
        dc.STATUS,
        dc.delflag,
        dc.lw_for_uid,
        dc.lw_for_dynamic_id,
        dc.lw_userid,
        dc.lw_for_pid,
        dc.user_type
        FROM
        dmd_dynamic_comment dc
        LEFT JOIN ums_member um ON lw_userid = um.id
        WHERE
        dc.lw_for_pid = #{forPid}
        AND dc.delflag = 0
        AND dc.lw_for_dynamic_id =  #{forDynamicId}
        AND dc.user_type = 1
        ORDER BY
        dc.lw_date DESC
    </select>

    <select id="findCommentListByIdCoach" parameterType="map" resultMap="commentMap">
        SELECT
        dc.commentId,
        um.nick_name AS lw_name,
        um.icon AS lw_head_portrait,
        dc.lw_date,
        dc.lw_content,
        dc.lw_comment_type,
        dc.ip_address,
        dc.STATUS,
        dc.delflag,
        dc.lw_for_uid,
        dc.lw_for_dynamic_id,
        dc.lw_userid,
        dc.lw_for_pid,
        dc.user_type
        FROM
        dmd_dynamic_comment dc
        LEFT JOIN ums_coach um ON lw_userid = um.id
        WHERE
        dc.lw_for_pid = #{forPid}
        AND dc.delflag = 0
        AND dc.lw_for_dynamic_id =  #{forDynamicId}
        AND dc.user_type = 2
        ORDER BY
        dc.lw_date DESC
    </select>

    <insert id="addComment" parameterType="com.dmd.mall.model.domain.CommentBean">
        INSERT INTO dmd_dynamic_comment
        (
        lw_name,
        lw_head_portrait,
        lw_date,
        lw_content,
        lw_comment_type,
        ip_address,
        status,
        delflag,
        lw_for_uid,
        lw_for_dynamic_id,
        lw_userid,
        lw_for_pid,
        user_type
        )
        VALUES
        (
        #{commentName,jdbcType=VARCHAR},
        #{commentHeadPortrait,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},
        #{content,jdbcType=VARCHAR},
        #{type,jdbcType=INTEGER},
        #{ipAddress,jdbcType=VARCHAR},
        #{status,jdbcType=INTEGER},
        #{delflag,jdbcType=INTEGER},
        #{forUid,jdbcType=BIGINT},
        #{forDynamicId,jdbcType=BIGINT},
        #{userId,jdbcType=BIGINT},
        #{forPid,jdbcType=BIGINT},
        #{userType,jdbcType=INTEGER}

        )

    </insert>

    <select id="queryComment" parameterType="java.lang.Long" resultType="int">
        SELECT COUNT(1) FROM dmd_dynamic_comment
        WHERE lw_for_dynamic_id = #{value}
    </select>

    <update id="updateCommentDelflag" parameterType="map">
        UPDATE dmd_dynamic_comment SET delflag = 1 WHERE commentId = #{commentId} AND lw_userid = #{userId} AND user_type = 1
    </update>

    <update id="updateCommentDelflagByCoach" parameterType="map">
        UPDATE dmd_dynamic_comment SET delflag = 1 WHERE commentId = #{commentId} AND lw_userid = #{userId} AND user_type = 2
    </update>

    <update id="updateComment" parameterType="java.lang.Long">
        UPDATE dmd_dynamic_comment SET delflag = 1 WHERE lw_for_dynamic_id = #{value}
    </update>
</mapper>