<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmd.mall.mapper.DiveCertificateMapper">

    <!--通用查询映射结果-->
    <resultMap id="diveCertificateMap" type="com.dmd.mall.model.domain.DiveCertificateBean">
        <result column="id" property="id" />
        <result column="userid" property="userId" />
        <result column="owd" property="owd" />
        <result column="aowd" property="aowd" />
        <result column="efa" property="efa" />
        <result column="rd" property="rd" />
        <result column="sc" property="sc" />
        <result column="msd" property="msd" />
        <result column="dm" property="dm" />
        <result column="owsi" property="owsi" />
        <result column="msdt" property="msdt" />
        <result column="idcsi" property="idcsi" />
        <result column="mi" property="mi" />
        <result column="cd" property="cd" />
        <result column="createTime" property="createTime" />
        <result column="status" property="status" />
        <result column="identifier" property="identifier" />
    </resultMap>

    <!--通用查询映射结果-->
    <resultMap id="CertificateMap" type="com.dmd.mall.model.domain.CertificateAppBean">
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="pictures" property="pictures" />
        <result column="status" property="status" />
        <result column="certificate_id" property="certificateId" />
        <result column="create_time" property="createTime" />
        <result column="adop_time" property="adopTime" />
        <result column="operator" property="operator" />
        <result column="reason" property="reason" />
    </resultMap>



    <select id="queryDiveCertificate" resultMap="CertificateMap" parameterType="java.lang.Long">
        SELECT da.id,da.pictures,da.status,da.reason,pc.english_shorthand AS certificateName,da.certificate_id,pc.certificate_level AS certificateLevel
        FROM dmd_dive_certificate_app da
        LEFT JOIN
        pms_certificate pc ON da.certificate_id = pc.id
        WHERE da.user_id = #{userId}
        ORDER BY pc.certificate_level
    </select>

    <select id="queryUserId" resultType="java.lang.Integer" parameterType="java.lang.Long">
        select count(*) from dmd_dive_certificate where userid = #{userId} ;
    </select>

    <insert id="addDiveCertificate" parameterType="com.dmd.mall.model.domain.CertificateAppBean" >
        INSERT INTO dmd_dive_certificate_app
        (
        pictures,
        status,
        user_id,
        certificate_id,
        create_time,
        adop_time,
        operator,
        reason
        )
        VALUES (

        #{pictures,jdbcType=VARCHAR},
        #{status,jdbcType=INTEGER},
        #{userId,jdbcType=BIGINT},
        #{certificateId,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP},
        #{adopTime,jdbcType=TIMESTAMP},
        #{operator,jdbcType=VARCHAR},
        #{reason,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateDiveCertificate" parameterType="com.dmd.mall.model.domain.DiveCertificateBean">
        UPDATE dmd_dive_certificate SET
        owd = #{owd},
        aowd = #{aowd},
        efa = #{efa},
        rd = #{rd},
        sc = #{sc},
        msd = #{msd},
        dm = #{dm},
        owsi = #{owsi},
        msdt = #{msdt},
        idcsi = #{idcsi},
        mi = #{mi},
        cd = #{cd},
        createTime = #{createTime},
        status = #{status},
        identifier = identifier + 1
        WHERE userid = #{userId}
    </update>

    <select id="selectIdentifier" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT identifier FROM dmd_dive_certificate WHERE userid = #{userId}
    </select>

    <select id="selectCertificateId" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT max(certificate_id) FROM dmd_dive_certificate_app WHERE user_id = #{userId}
    </select>

    <select id="selectCertificateStatus" parameterType="map" resultType="java.lang.Integer">
        SELECT status FROM dmd_dive_certificate_app WHERE user_id = #{userId} AND certificate_id = #{identifier} - 1
    </select>
    <select id="selectCertificateByStatus"  parameterType="map" resultMap="CertificateMap" >
        SELECT status,id FROM dmd_dive_certificate_app WHERE user_id = #{userId} AND certificate_id = #{certificateId}
    </select>

    <update id="updateCertificate" parameterType="com.dmd.mall.model.domain.CertificateAppBean">
        UPDATE dmd_dive_certificate_app SET
        user_id = #{userId},
        pictures = #{pictures},
        status = 0,
        certificate_id = #{certificateId},
        create_time = now(),
        adop_time = null,
        operator = '',
        reason = ''
        where
        id = #{id}
    </update>

    <select id="queryCertificateMax" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT MAX(pc.certificate_level)
        FROM dmd_dive_certificate_app da
        LEFT JOIN
        pms_certificate pc ON da.certificate_id = pc.id
        WHERE da.user_id = #{userId}
    </select>

    <select id="queryCertificateMin" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT MIN(pc.certificate_level)
        FROM dmd_dive_certificate_app da
        LEFT JOIN
        pms_certificate pc ON da.certificate_id = pc.id
        WHERE da.user_id = #{userId}

    </select>
</mapper>
