<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmd.mall.mapper.DmdIntegralGiftMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmd.mall.model.domain.DmdIntegralGift">
    <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="picture" property="picture" />
        <result column="integral" property="integral" />
        <result column="introduce" property="introduce" />
        <result column="createtime" property="createtime" />
        <result column="updatetime" property="updatetime" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        name, picture, integral, introduce, createtime, updatetime, status
    </sql>

    <select id="queryIntegralGifts" resultMap="BaseResultMap">
        SELECT id,name,picture,integral,introduce,createtime,updatetime,status FROM dmd_integral_gift WHERE status = 0 ORDER BY createtime DESC
    </select>

    <select id="queryIntegralGiftsById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT id,name,picture,integral,introduce,createtime,updatetime,status FROM dmd_integral_gift WHERE id = #{value} AND status = 0
    </select>

    <insert id="addIntegralGifts" parameterType="com.dmd.mall.model.domain.IntegralGiftsBean">
        INSERT INTO dmd_integral_gift
        (
          name,
          picture,
          integral,
          introduce,
          createtime,
          updatetime,
          status
        ) VALUES (
          #{name,jdbcType=VARCHAR},
          #{picture,jdbcType=VARCHAR},
          #{integral,jdbcType=INTEGER},
          #{introduce,jdbcType=VARCHAR},
          #{createTime,jdbcType=TIMESTAMP},
          #{updateTime,jdbcType=TIMESTAMP},
          0
        )
    </insert>

    <select id="findIntegralGiftsInfoById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT id,name,picture,integral,introduce,createtime,updatetime FROM dmd_integral_gift WHERE id = #{value} AND status = 0
    </select>

    <update id="updateIntegralGiftsById" parameterType="com.dmd.mall.model.domain.IntegralGiftsBean">
        UPDATE dmd_integral_gift SET
        name = #{name},
        picture = #{picture},
        integral = #{integral},
        introduce = #{introduce},
        createtime = #{createTime},
        updatetime = #{updateTime}
        where id = #{id}
    </update>

    <delete id="deleteIntegralGiftsById" parameterType="java.lang.Long">
        DELETE FROM dmd_integral_gift WHERE id = #{id}
    </delete>
    <select id="selectById" resultType="com.dmd.mall.model.domain.DmdIntegralGift">
        select <include refid="Base_Column_List"/>
        from dmd_integral_gift
        where id = #{productId} and status = 0
    </select>

</mapper>
