<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmd.mall.mapper.DynamicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="dynamicMap" type="com.dmd.mall.model.domain.DynamicBean">
        <result column="r_id" property="id" />
        <result column="r_author" property="dynamicAuthor" />
        <result column="r_head_portrait" property="dynamicHeadPortrait" />
        <result column="r_content" property="dynamicContent" />
        <result column="r_createtime" property="createTime" />
        <result column="r_address" property="dynamicAddress" />
        <result column="r_picture" property="dynamicPicture" />
        <result column="r_praise" property="dynamicPraise" />
        <result column="r_share_num" property="dynamicSharenum" />
        <result column="r_comment_num" property="dynamicCommentnum" />
        <result column="r_userid" property="userId" />
        <result column="r_topicid" property="topicId" />
        <result column="r_topicName" property="topicName" />
        <result column="delflag" property="delflag" />
    </resultMap>

    <select id="queryDynamic" resultMap="dynamicMap" parameterType="java.lang.Long">
        SELECT dy.r_id,dy.r_author,dy.r_head_portrait,dy.r_content,dy.r_createtime,dy.r_address,dy.r_picture,dy.r_praise,dy.r_share_num,dy.r_comment_num,dy.r_userid,dy.r_topicid,dt.topicName as r_topicName,delflag
        FROM dmd_dynamic dy LEFT JOIN dmd_dynamic_topic dt
        ON dy.r_topicid  = dt.id WHERE  dy.r_userid = #{userId} AND delflag = 0

    </select>

    <select id="queryPraise" parameterType="java.lang.Long" resultType="int">
        SELECT dy.r_praise FROM dmd_dynamic dy
        WHERE dy.r_id = #{id}
    </select>

    <select id="queryShare" parameterType="java.lang.Long" resultType="int">
        SELECT dy.r_share_num FROM dmd_dynamic dy
        WHERE dy.r_id = #{id}
    </select>

    <update id="updateLikePraise" parameterType="java.lang.Long">
        UPDATE dmd_dynamic SET  r_praise = r_praise + 1 where r_id = #{id}
    </update>

    <update id="updateCancelPraise" parameterType="java.lang.Long">
        UPDATE dmd_dynamic SET  r_praise = r_praise - 1 where r_id = #{id} and r_praise > 0
    </update>

    <update id="updateDynamicrShare" parameterType="java.lang.Long">
        UPDATE dmd_dynamic SET  r_share_num = r_share_num + 1 where r_id = #{id}
    </update>

    <update id="updateDynamicDelflag" parameterType="java.lang.Long">
        UPDATE dmd_dynamic SET delflag = 1 WHERE r_id = #{value}
    </update>

    <select id="queryTopicByDynamicTime" parameterType="int" resultMap="dynamicMap">
        SELECT dy.r_id,dy.r_author,dy.r_head_portrait,dy.r_content,dy.r_createtime,dy.r_address,dy.r_picture,dy.r_praise,dy.r_share_num,dy.r_comment_num,dy.r_userid,dy.r_topicid,dt.topicName as r_topicName,delflag
        FROM dmd_dynamic dy LEFT JOIN dmd_dynamic_topic dt
        ON dy.r_topicid  = dt.id WHERE  dy.r_topicid = #{value} AND delflag = 0 ORDER BY r_createtime DESC
    </select>

    <select id="selectTopicByDynamicHeat" parameterType="int" resultMap="dynamicMap">
        SELECT dy.r_id,dy.r_author,dy.r_head_portrait,dy.r_content,dy.r_createtime,dy.r_address,dy.r_picture,dy.r_praise,dy.r_share_num,dy.r_comment_num,dy.r_userid,dy.r_topicid,dt.topicName as r_topicName,delflag
        FROM dmd_dynamic dy LEFT JOIN dmd_dynamic_topic dt
        ON dy.r_topicid  = dt.id WHERE  dy.r_topicid = #{value} AND delflag = 0 ORDER BY r_praise DESC , r_createtime DESC
    </select>


    <select id="queryDynamicById" resultMap="dynamicMap" parameterType="java.lang.Long">
        SELECT dy.r_id,dy.r_author,dy.r_head_portrait,dy.r_content,dy.r_createtime,dy.r_address,dy.r_picture,dy.r_praise,dy.r_share_num,dy.r_comment_num,dy.r_userid,dy.r_topicid,dt.topicName as r_topicName,delflag
        FROM dmd_dynamic dy LEFT JOIN dmd_dynamic_topic dt
        ON dy.r_topicid  = dt.id WHERE  dy.r_id = #{value} AND delflag = 0
    </select>

    <insert id="addDynamic" parameterType="com.dmd.mall.model.domain.DynamicBean">
        INSERT INTO dmd_dynamic(
        r_author,
        r_head_portrait,
        r_content,
        r_createtime,
        r_address,
        r_picture,
        r_praise,
        r_share_num,
        r_comment_num,
        r_userid,
        r_topicid,
        delflag)
        VALUES (
        #{dynamicAuthor,jdbcType=VARCHAR},
        #{dynamicHeadPortrait,jdbcType=VARCHAR},
        #{dynamicContent,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},
        #{dynamicAddress,jdbcType=VARCHAR},
        #{dynamicPicture,jdbcType=VARCHAR},
        #{dynamicPraise,jdbcType=INTEGER},
        #{dynamicSharenum,jdbcType=INTEGER},
        #{dynamicCommentnum,jdbcType=INTEGER},
        #{userId,jdbcType=BIGINT},
        #{topicId,jdbcType=INTEGER},
        #{delflag,jdbcType=INTEGER})
    </insert>

    <update id="addrCommentNum" parameterType="java.lang.Long">
         UPDATE dmd_dynamic SET  r_comment_num = r_comment_num + 1 where r_id = #{value}
    </update>

    <update id="reduceCommentNum" parameterType="java.lang.Long">
         UPDATE dmd_dynamic SET  r_comment_num = r_comment_num - 1 where r_id = #{value} and r_comment_num > 0
    </update>
</mapper>
