<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmd.mall.mapper.OmsOrderReturnApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmd.mall.model.domain.OmsOrderReturnApply">
    <result column="id" property="id" />
    <result column="creator" property="creator" />
    <result column="creator_id" property="creatorId" />
    <result column="created_time" property="createdTime" />
    <result column="last_operator" property="lastOperator" />
    <result column="last_operator_id" property="lastOperatorId" />
    <result column="update_time" property="updateTime" />
        <result column="order_id" property="orderId" />
        <result column="shipping_id" property="shippingId" />
        <result column="product_id" property="productId" />
        <result column="order_sn" property="orderSn" />
        <result column="member_username" property="memberUsername" />
        <result column="return_amount" property="returnAmount" />
        <result column="return_name" property="returnName" />
        <result column="return_phone" property="returnPhone" />
        <result column="status" property="status" />
        <result column="product_pic" property="productPic" />
        <result column="product_name" property="productName" />
        <result column="product_title" property="productTitle" />
        <result column="product_brand" property="productBrand" />
        <result column="product_attr" property="productAttr" />
        <result column="product_count" property="productCount" />
        <result column="product_price" property="productPrice" />
        <result column="product_real_price" property="productRealPrice" />
        <result column="reason" property="reason" />
        <result column="description" property="description" />
        <result column="proof_pics" property="proofPics" />
        <result column="handle_time" property="handleTime" />
        <result column="handle_note" property="handleNote" />
        <result column="handle_man" property="handleMan" />
        <result column="receive_man" property="receiveMan" />
        <result column="receive_time" property="receiveTime" />
        <result column="receive_note" property="receiveNote" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        creator,
        creator_id,
        created_time,
        last_operator,
        last_operator_id,
        update_time,
        order_id, shipping_id, product_id, order_sn, member_username, return_amount, return_name, return_phone, status, product_pic,
        product_name, product_brand, product_attr, product_count, product_price, product_real_price, reason, description, proof_pics,
        handle_time, handle_note, handle_man, receive_man, receive_time, receive_note, product_title
    </sql>
    <select id="selectByOrderSn" resultType="com.dmd.mall.model.domain.OmsOrderReturnApply">
        select <include refid="Base_Column_List"/>
        from oms_order_return_apply
        where order_sn = #{orderSn}
    </select>

</mapper>
