<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmd.mall.mapper.OmsOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmd.mall.model.domain.OmsOrder">
    <result column="id" property="id" />
    <result column="creator" property="creator" />
    <result column="creator_id" property="creatorId" />
    <result column="created_time" property="createdTime" />
    <result column="last_operator" property="lastOperator" />
    <result column="last_operator_id" property="lastOperatorId" />
    <result column="update_time" property="updateTime" />
        <result column="order_sn" property="orderSn" />
        <result column="member_id" property="memberId" />
        <result column="shop_id" property="shopId" />
        <result column="member_username" property="memberUsername" />
        <result column="total_amount" property="totalAmount" />
        <result column="pay_amount" property="payAmount" />
        <result column="freight_amount" property="freightAmount" />
        <result column="promotion_amount" property="promotionAmount" />
        <result column="integration_amount" property="integrationAmount" />
        <result column="discount_amount" property="discountAmount" />
        <result column="pay_type" property="payType" />
        <result column="source_type" property="sourceType" />
        <result column="status" property="status" />
        <result column="order_type" property="orderType" />
        <result column="delivery_company" property="deliveryCompany" />
        <result column="delivery_sn" property="deliverySn" />
        <result column="integration" property="integration" />
        <result column="promotion_info" property="promotionInfo" />
        <result column="is_invoice" property="isInvoice" />
        <result column="invoice_id" property="invoiceId" />
        <result column="remark" property="remark" />
        <result column="confirm_status" property="confirmStatus" />
        <result column="delete_status" property="deleteStatus" />
        <result column="use_integration" property="useIntegration" />
        <result column="payment_time" property="paymentTime" />
        <result column="delivery_time" property="deliveryTime" />
        <result column="receive_time" property="receiveTime" />
        <result column="end_time" property="endTime" />
        <result column="close_time" property="closeTime" />
        <result column="approval_status" property="approvalStatus" />
        <result column="failure_reason" property="failureReason" />
        <result column="user_type" property="userType" />
        <result column="receiver_name" property="receiverName" />
        <result column="receiver_mobile_no" property="receiverMobileNo" />
        <result column="province_name" property="provinceName" />
        <result column="city_name" property="cityName" />
        <result column="district_name" property="districtName" />
        <result column="detail_address" property="detailAddress" />
        <result column="receiver_zip_code" property="receiverZipCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        creator,
        creator_id,
        update_time,
        created_time,
        last_operator,
        last_operator_id,
        order_sn, member_id, shop_id, member_username, total_amount, pay_amount,
        freight_amount, promotion_amount, integration_amount, discount_amount, pay_type,
        source_type, status, order_type, delivery_company, delivery_sn,
        integration, promotion_info, is_invoice, invoice_id, remark, confirm_status,
         delete_status, use_integration, payment_time, delivery_time, receive_time, end_time, close_time, approval_status, failure_reason, user_type,
         receiver_name, receiver_mobile_no, province_name, city_name, district_name, detail_address, receiver_zip_code
    </sql>
    <sql id="Course_Product_Order_List">
        uc.coach_name userName, uc.icon userIcon, uc.coach_Grade, uc.id userId, uc.nick_name, oo.order_sn, oo.total_amount, oo.id orderId,
        oo.pay_amount, oo.integration_amount, oo.pay_type, oo.payment_time, oo.close_time, oo.created_time, oo.end_time,
        oo.status, oo.order_type, ooi.id orderItmeId, ooi.product_pic, ooi.product_title, ooi.product_price, ooi.product_quantity,
         ooi.product_attr spec, ooi.product_type, ooi.product_id, ooi.real_amount, ooi.product_name
    </sql>
    <sql id="Seller_Course_Product_Order_List">
        um.username userName, um.icon userIcon, um.id userId, um.nick_name, oo.order_sn, oo.total_amount, oo.id orderId,
        oo.pay_amount, oo.integration_amount, oo.pay_type, oo.payment_time, oo.close_time, oo.created_time, oo.end_time,
        oo.status, oo.order_type, ooi.id orderItmeId, ooi.product_pic, ooi.product_title, ooi.product_price, ooi.product_quantity,
        ooi.product_attr spec, ooi.product_type, ooi.product_id, ooi.real_amount, ooi.product_name
    </sql>
    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="long">
        SELECT
        <include refid="Base_Column_List">
            <property name="alias" value="oder"/>
        </include>
        from pc_omc_order oder
        where oder.member_id = #{userId}
        order by update_time desc
    </select>

    <select id="selectUserOrderByStatus" resultType="com.dmd.mall.model.vo.CourseOrderDetailVo">
        SELECT <include refid="Course_Product_Order_List"/>
        FROM oms_order oo
        left join ums_coach uc on oo.shop_id = uc.id
        left join oms_order_item ooi
        on oo.id = ooi.order_id
        where oo.member_id = #{userId}
        and oo.status = #{status}
        and oo.user_type = #{userType}
        and oo.order_type = #{orderType}
        order by oo.update_time desc
    </select>
    <select id="selectSellerOrderByStatus" resultType="com.dmd.mall.model.vo.CourseOrderDetailVo">
        SELECT <include refid="Seller_Course_Product_Order_List"/>
        FROM oms_order oo
        left join ums_member um on oo.member_id = um.id
        left join oms_order_item ooi
        on oo.id = ooi.order_id
        where oo.shop_id = #{coachId}
        and oo.status = #{status}
        and oo.order_type = 1
        order by oo.update_time desc
    </select>
    <select id="selectUserOrderByOrderSn" resultType="com.dmd.mall.model.vo.CourseOrderDetailVo">
        SELECT <include refid="Course_Product_Order_List"/>
        FROM oms_order oo
        left join ums_coach uc on oo.shop_id = uc.id
        left join oms_order_item ooi
        on oo.id = ooi.order_id
        where oo.member_id = #{userId} and oo.order_sn = #{orderSn}
    </select>
    <select id="selectSellerOrderByOrderSn" resultType="com.dmd.mall.model.vo.CourseOrderDetailVo">
        SELECT <include refid="Seller_Course_Product_Order_List"/>
        FROM oms_order oo
        left join ums_member um on oo.member_id = um.id
        left join oms_order_item ooi
        on oo.id = ooi.order_id
        where oo.shop_id = #{coachId} and oo.order_sn = #{orderSn}
    </select>
    <select id="selectByUserIdAndOrderId" resultType="com.dmd.mall.model.domain.OmsOrder">
        SELECT
        <include refid="Base_Column_List">
            <property name="alias" value="oder"/>
        </include>
        from oms_order oder
        where oder.id = #{orderId}
        and oder.member_id = #{userId}
        and oder.user_type = #{userType}
    </select>
    <select id="selectByStatus" resultType="com.dmd.mall.model.vo.CourseOrderDetailVo">
        SELECT
        oo.member_id userId, oo.order_sn, oo.total_amount, oo.id orderId,oo.pay_amount, oo.integration_amount, oo.pay_type, oo.payment_time,
        oo.close_time, oo.created_time, oo.end_time,oo.status, oo.order_type, ooi.id orderItmeId, ooi.product_pic,
        ooi.product_title, ooi.product_price, ooi.product_quantity,ooi.product_attr spec, ooi.product_type, ooi.product_id, ooi.real_amount
        FROM oms_order oo
        left join oms_order_item ooi
        on oo.id = ooi.order_id
        where status = #{status} and order_type = #{orderType}
    </select>
    <select id="countOrderNum" resultType="java.util.Map">
        select #{status} status, count(1) count from oms_order
        where member_id = #{userId} and user_type = #{userType} and status = #{status} and order_type != 2
    </select>
    <select id="selectIntegralOrderByStatus" resultType="com.dmd.mall.model.vo.CourseOrderDetailVo">
        SELECT <include refid="Course_Product_Order_List"/>
        FROM oms_order oo
        left join ums_coach uc on oo.shop_id = uc.id
        left join oms_order_item ooi
        on oo.id = ooi.order_id
        where oo.member_id = #{userId}
        and oo.user_type = #{userType}
        and oo.order_type = #{orderType}
        and oo.status in
        <foreach collection="statusList" item="status" open="(" close=")" separator=",">
            #{status}
        </foreach>
        order by oo.update_time desc
    </select>
    <select id="selectOrderByStatus" resultType="com.dmd.mall.model.domain.OmsOrder">
        select <include refid="Base_Column_List"/>
        from oms_order
        where status = #{status} and order_type = #{orderType}
    </select>
    <select id="selectByOrderNo" resultType="com.dmd.mall.model.domain.OmsOrder">
        SELECT
        <include refid="Base_Column_List">
            <property name="alias" value="oder"/>
        </include>
        from oms_order oder
        where oder.order_sn = #{orderSn}
    </select>
</mapper>
