<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmd.mall.mapper.OmsOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmd.mall.model.domain.OmsOrder">
    <result column="id" property="id" />
    <result column="creator" property="creator" />
    <result column="creator_id" property="creatorId" />
    <result column="created_time" property="createdTime" />
    <result column="last_operator" property="lastOperator" />
    <result column="last_operator_id" property="lastOperatorId" />
    <result column="update_time" property="updateTime" />
        <result column="order_sn" property="orderSn" />
        <result column="member_id" property="memberId" />
        <result column="shop_id" property="shopId" />
        <result column="member_username" property="memberUsername" />
        <result column="total_amount" property="totalAmount" />
        <result column="pay_amount" property="payAmount" />
        <result column="freight_amount" property="freightAmount" />
        <result column="promotion_amount" property="promotionAmount" />
        <result column="integration_amount" property="integrationAmount" />
        <result column="discount_amount" property="discountAmount" />
        <result column="pay_type" property="payType" />
        <result column="source_type" property="sourceType" />
        <result column="status" property="status" />
        <result column="order_type" property="orderType" />
        <result column="delivery_company" property="deliveryCompany" />
        <result column="delivery_sn" property="deliverySn" />
        <result column="auto_confirm_day" property="autoConfirmDay" />
        <result column="integration" property="integration" />
        <result column="promotion_info" property="promotionInfo" />
        <result column="is_invoice" property="isInvoice" />
        <result column="invoice_id" property="invoiceId" />
        <result column="shipping_id" property="shippingId" />
        <result column="remark" property="remark" />
        <result column="confirm_status" property="confirmStatus" />
        <result column="delete_status" property="deleteStatus" />
        <result column="use_integration" property="useIntegration" />
        <result column="payment_time" property="paymentTime" />
        <result column="delivery_time" property="deliveryTime" />
        <result column="receive_time" property="receiveTime" />
        <result column="end_time" property="endTime" />
        <result column="close_time" property="closeTime" />
        <result column="approval_status" property="approvalStatus" />
        <result column="failure_reason" property="failureReason" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        creator,
        creator_id,
        update_time,
        created_time,
        last_operator,
        last_operator_id,
        order_sn, member_id, shop_id, member_username, total_amount, pay_amount,
        freight_amount, promotion_amount, integration_amount, discount_amount, pay_type,
        source_type, status, order_type, delivery_company, delivery_sn, auto_confirm_day,
        integration, promotion_info, is_invoice, invoice_id, shipping_id, remark, confirm_status,
         delete_status, use_integration, payment_time, delivery_time, receive_time, end_time, close_time, approval_status, failure_reason
    </sql>

    <select id="selectByUserIdAndOrderNo" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="Base_Column_List">
            <property name="alias" value="oder"/>
        </include>
        from oms_order oder
        where oder.order_sn = #{orderSn}
        and oder.member_id = #{userId}
    </select>

    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="long">
        SELECT
        <include refid="Base_Column_List">
            <property name="alias" value="oder"/>
        </include>
        from pc_omc_order oder
        where oder.member_id = #{userId}
        order by update_time desc
    </select>

    <select id="queryOrderListWithPage" resultType="com.dmd.mall.model.vo.OrderDocVo">
        SELECT
        <include refid="Base_Column_List">
            <property name="alias" value="oder"/>
        </include>
        ,shipping.receiver_name
        from pc_omc_order oder
        LEFT JOIN oms_shipping shipping ON oder.shipping_id = shipping.id
        where 1 = 1
        <if test="status != null and status != ''">
            and oder.status = #{status}
        </if>
        <if test="orderNo != null and orderNo != ''">
            and oder.order_sn = #{orderSn}
        </if>
        ORDER BY update_time desc
    </select>
</mapper>
