<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmd.mall.mapper.OmsOrderItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmd.mall.model.domain.OmsOrderItem">
    <result column="id" property="id" />
    <result column="creator" property="creator" />
    <result column="creator_id" property="creatorId" />
    <result column="created_time" property="createdTime" />
    <result column="last_operator" property="lastOperator" />
    <result column="last_operator_id" property="lastOperatorId" />
    <result column="update_time" property="updateTime" />
        <result column="order_id" property="orderId" />
        <result column="order_sn" property="orderSn" />
        <result column="product_id" property="productId" />
        <result column="product_pic" property="productPic" />
        <result column="product_name" property="productName" />
        <result column="product_type" property="productType" />
        <result column="product_price" property="productPrice" />
        <result column="equipment_price" property="equipmentPrice" />
        <result column="product_quantity" property="productQuantity" />
        <result column="total_price" property="totalPrice" />
        <result column="product_category_price" property="productCategoryPrice" />
        <result column="integration_amount" property="integrationAmount" />
        <result column="real_amount" property="realAmount" />
        <result column="product_title" property="productTitle" />
    </resultMap>

    <!--<resultMap id="orderDetailResultMap" type="com.dmd.admin.model.dto.OmsOrderDetail" extends="BaseResultMap">
        <collection property="orderItemList" resultMap="com.dmd.admin.mapper.OmsOrderItemMapper.BaseResultMap" columnPrefix="item_"/>
        <collection property="historyList" resultMap="com.dmd.admin.mapper.OmsOrderOperateHistoryMapper.BaseResultMap" columnPrefix="history_"/>
    </resultMap>-->
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        creator,
        creator_id,
        created_time,
        last_operator,
        last_operator_id,
        update_time,
        order_id, order_sn, product_id, product_pic, product_name, product_price, product_quantity, product_category_id, integration_amount, real_amount, total_price totalPrice, product_type productType, product_title, equipment_price
    </sql>

    <select id="getListByOrderNoUserId" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from oms_order_item
        where order_sn = #{orderSn}
    </select>
</mapper>
