<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmd.mall.mapper.PmsCourseProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmd.mall.model.domain.PmsCourseProduct">
    <result column="id" property="id" />
    <result column="creator" property="creator" />
    <result column="creator_id" property="creatorId" />
    <result column="created_time" property="createdTime" />
    <result column="last_operator" property="lastOperator" />
    <result column="last_operator_id" property="lastOperatorId" />
    <result column="update_time" property="updateTime" />
        <result column="product_name" property="productName" />
        <result column="user_id" property="userId" />
        <result column="shop_id" property="shopId" />
        <result column="shop_name" property="shopName" />
        <result column="title" property="title" />
        <result column="price" property="price" />
        <result column="product_type" property="productType" />
        <result column="location" property="location" />
        <result column="length_play" property="lengthPlay" />
        <result column="is_time_limit" property="isTimeLimit" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="number_is_limit" property="numberIsLimit" />
        <result column="number_limit" property="numberLimit" />
        <result column="cost_includes" property="costIncludes" />
        <result column="cost_not_includes" property="costNotIncludes" />
        <result column="purchase_notes" property="purchaseNotes" />
        <result column="product_description" property="productDescription" />
        <result column="image" property="image" />
        <result column="content_arrangement" property="contentArrangement" />
        <result column="status" property="status" />
        <result column="approval_status" property="approvalStatus" />
        <result column="sales" property="sales" />
        <result column="sort" property="sort" />
        <result column="certificate_id" property="certificateId" />
        <result column="address_id" property="addressId" />
        <result column="stock" property="stock" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        creator,
        creator_id,
        created_time,
        last_operator,
        last_operator_id,
        update_time,
        product_name, user_id, shop_id, shop_name, title, price, product_type, location, length_play, is_time_limit, start_time, end_time, number_is_limit, number_limit, cost_includes, cost_not_includes, purchase_notes, product_description, image, content_arrangement, status, approval_status, sales, sort, certificate_id, address_id, stock
    </sql>
    <select id="selectCourseProductByType" resultType="com.dmd.mall.model.vo.PmsCourseListVo">
        select
            uc.id coachId, uc.icon coachIcon, uc.coach_name coachName, uc.coach_grade, psp.id, psp.product_name, psp.title, psp.image, psp.price, psp.location, psp.start_time, psp.end_time
        from pms_course_product psp, ums_coach uc
        where uc.id = psp.shop_id
        and uc.status = 2
        and psp.product_type = #{type}
        and psp.status = 1
        and psp.approval_status = 2
        order by sort desc
    </select>
    <select id="selectCoachIdByCertificateId" resultType="java.lang.Long">
        select user_id
        from pms_course_product
        where certificate_id = #{certificateId} and address_id = #{addressId} and product_type = #{productType} and status = 1 and approval_status = 2
    </select>
    <select id="selectByCoachId" resultType="com.dmd.mall.model.domain.PmsCourseProduct">
        select <include refid="Base_Column_List"/>
        from pms_course_product
        where user_id = #{coachId}
        and certificate_id = #{certificateId}
        and status = 1
        and approval_status = 2
        and product_type = 1
        <if test="addressId != null">
            and address_id = #{addressId}
        </if>
    </select>
    <select id="selectCourseProductByIds" resultType="com.dmd.mall.model.domain.PmsCourseProduct">
        select <include refid="Base_Column_List"/>
        from pms_course_product
        where status = 1 and approval_status = 2 and product_type = 1
        <if test="certificateId != null">
            and certificate_id = #{certificateId}
        </if>
        <if test="addressId != null">
            and address_id = #{addressId}
        </if>
        <if test="userId != null">
            and user_id = #{userId}
        </if>
    </select>

    <select id="queryPowerNotesPage" parameterType="com.dmd.mall.model.domain.PmsCourseProduct" resultMap="BaseResultMap">
        SELECT DISTINCT
        pc.user_id,
        pc.title,
        pc.start_time,
        pc.image,
        pc.location
        pc.id
    FROM
        oms_order om
        LEFT JOIN oms_order_item oi ON om.id = oi.order_id
        LEFT JOIN pms_course_product pc ON pc.user_id = om.shop_id
        <include refid="powerNotesWhere"></include>
    </select>

    <!-- 公用标签 -->
    <sql id="powerNotesWhere">
        <where>
            <!-- 日期区间查询 -->
            <if test="searchStartTime != null">
                and start_time &gt;= #{searchStartTime}
            </if>
            <if test="searchEndTime != null">
                and start_time &lt;= #{searchEndTime}
            </if>
                AND om.`status` = 2
                AND om.shop_id IS NOT NULL
                AND pc.user_id = #{userId}
        </where>
    </sql>

    <select id="queryPepleNum" parameterType="map" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
            oms_order om
            LEFT JOIN oms_order_item oi ON om.id = oi.order_id
            LEFT JOIN pms_course_product pc ON pc.id = oi.product_id
            WHERE om.`status`=2 and om.shop_id is not null and pc.id=#{id} and pc.user_id =#{userId}
    </select>
    <select id="selectCheckActivity" resultType="java.lang.Integer">
        select count(*) from pms_course_product
        where start_time BETWEEN #{startTime,jdbcType=DATE} and #{endTime,jdbcType=DATE}
        or end_time BETWEEN #{startTime,jdbcType=DATE} and #{endTime,jdbcType=DATE}
        <if test="id != null">
            and id != #{id}
        </if>
    </select>
    <select id="selectCourseProductById" resultType="com.dmd.mall.model.vo.PmsCourseListVo">
        select
            uc.id coachId, uc.icon coachIcon, uc.coach_name coachName, uc.coach_grade, psp.id, psp.product_name, psp.title, psp.image, psp.price, psp.location, psp.start_time, psp.end_time
        from pms_course_product psp, ums_coach uc
        where uc.id = psp.shop_id
        and uc.status = 2
        and psp.id = #{productId}
        and psp.status = 1
        and psp.approval_status = 2
        order by sort desc
    </select>

    <select id="queryPmsCourseProduct" parameterType="java.lang.String" resultMap="BaseResultMap">
      SELECT
        pc.id,
        pc.user_id,
        pc.location,
        pc.title,
        pc.image,
        pc.price,
        uc.icon AS coachIcon,
        uc.coach_name AS coachName,
        uc.coach_grade AS coachGrade,
        pc.product_type
      FROM
	    pms_course_product pc
	  LEFT JOIN ums_coach uc ON pc.user_id = uc.id
        <where>
            <if test="content != null and content != ''">
                AND pc.title LIKE CONCAT(CONCAT('%',#{content}),'%')
            </if>
            AND pc.approval_status = 2
            AND pc.status = 1
            AND pc.product_type = 2
        </where>
        ORDER BY pc.sales DESC
    </select>
    <select id="selectByUserId" resultType="java.lang.Integer">
        select count(1) from pms_course_product where user_id = #{userId}
    </select>

    <select id="queryPmsCourseProductByType" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        pc.id,
        pc.user_id,
        pc.location,
        pc.title,
        pc.image,
        pc.price,
        uc.icon AS coachIcon,
        uc.coach_name AS coachName,
        uc.coach_grade AS coachGrade,
        pc.product_type
        FROM
        pms_course_product pc
        LEFT JOIN ums_coach uc ON pc.user_id = uc.id
        <where>
            <if test="content != null and content != ''">
                AND pc.title LIKE CONCAT(CONCAT('%',#{content}),'%')
            </if>
            AND pc.approval_status = 2
            AND pc.status = 1
            AND pc.product_type = 1
        </where>
        ORDER BY pc.sales DESC
    </select>
    <select id="countCertificateProductNum" resultType="java.lang.Long">
        select count(1) from pms_course_product
        where product_type = #{productType}
        and certificate_id = #{certificateId}
        and approval_status = 2
        and status = 1
    </select>
    <select id="countCertificateProductNumByAddrrss" resultType="java.util.Map">
        select address_id addressId, count(1) num from pms_course_product
        where product_type = #{productType}
        and certificate_id = #{certificateId}
        and approval_status = 2
        and status = 1
        group by address_id
    </select>
    <select id="selectByStatus" resultType="com.dmd.mall.model.domain.PmsCourseProduct">
        select <include refid="Base_Column_List"/>
        from pms_course_product
        where status = #{status}
        and approval_status = 2
    </select>
</mapper>
