<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmd.mall.mapper.PmsCourseProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmd.mall.model.domain.PmsCourseProduct">
    <result column="id" property="id" />
    <result column="creator" property="creator" />
    <result column="creator_id" property="creatorId" />
    <result column="created_time" property="createdTime" />
    <result column="last_operator" property="lastOperator" />
    <result column="last_operator_id" property="lastOperatorId" />
    <result column="update_time" property="updateTime" />
        <result column="product_name" property="productName" />
        <result column="user_id" property="userId" />
        <result column="shop_id" property="shopId" />
        <result column="shop_name" property="shopName" />
        <result column="title" property="title" />
        <result column="price" property="price" />
        <result column="equipment_price" property="equipmentPrice" />
        <result column="total_price" property="totalPrice" />
        <result column="product_type" property="productType" />
        <result column="is_group" property="isGroup" />
        <result column="location" property="location" />
        <result column="length_play" property="lengthPlay" />
        <result column="is_time_limit" property="isTimeLimit" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="number_is_limit" property="numberIsLimit" />
        <result column="number_limit" property="numberLimit" />
        <result column="related_product" property="relatedProduct" />
        <result column="product_description" property="productDescription" />
        <result column="image" property="image" />
        <result column="status" property="status" />
        <result column="approval_status" property="approvalStatus" />
        <result column="sales" property="sales" />
        <result column="sort" property="sort" />
        <result column="certificate_id" property="certificateId" />
        <result column="address_id" property="addressId" />
        <result column="stock" property="stock" />
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="powerMap" type="com.dmd.mall.model.domain.PowerNotesBean">
        <result column="id" property="id" />
        <result column="image" property="image" />
        <result column="title" property="title" />
        <result column="product_name" property="productName" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="user_id" property="userId" />
        <result column="product_type" property="productType" />
        <result column="remarks" property="remarks" />
        <result column="product_id" property="productId" />
        <result column="location" property="location" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        creator,
        creator_id,
        created_time,
        last_operator,
        last_operator_id,
        update_time,
        product_name, user_id, shop_id, shop_name, title, price, product_type, location, length_play, is_time_limit, start_time, end_time, number_is_limit, number_limit, product_description, image, related_product, status, approval_status, sales, sort, certificate_id, address_id, stock, total_price, equipment_price, is_group
    </sql>
    <select id="selectCourseProductByType" resultType="com.dmd.mall.model.vo.PmsCourseListVo">
        select
            uc.id coachId, uc.icon coachIcon, uc.coach_name coachName, uc.coach_grade, psp.id, psp.product_name, psp.title, psp.image, psp.price, psp.location, psp.start_time, psp.end_time
        from pms_course_product psp, ums_coach uc
        where uc.id = psp.user_id
        and uc.status = 2
        and (psp.product_type = 2 or psp.product_type = 3)
        and psp.approval_status = 2
        and psp.status not in (2,3)
        order by sort,psp.update_time desc
    </select>
    <select id="selectCoachIdByCertificateId" resultType="java.lang.Long">
        select user_id
        from pms_course_product
        where certificate_id = #{certificateId}
        and address_id = #{addressId}
        and product_type = #{productType}
        and status not in (2,3)
        and approval_status = 2
    </select>
    <select id="selectByCoachId" resultType="com.dmd.mall.model.domain.PmsCourseProduct">
        select <include refid="Base_Column_List"/>
        from pms_course_product
        where user_id = #{coachId}
        and certificate_id = #{certificateId}
        and status not in (2,3)
        and approval_status = 2
        and product_type = 1
        <if test="addressId != null">
            and address_id = #{addressId}
        </if>
    </select>
    <select id="selectCourseProductByIds" resultType="com.dmd.mall.model.domain.PmsCourseProduct">
        select <include refid="Base_Column_List"/>
        from pms_course_product
        where approval_status = 2 and product_type = 1 and status not in (2,3)
        <if test="certificateId != null">
            and certificate_id = #{certificateId}
        </if>
        <if test="addressId != null">
            and address_id = #{addressId}
        </if>
        <if test="userId != null">
            and user_id = #{userId}
        </if>
    </select>

    <select id="queryPowerNotesPage" parameterType="com.dmd.mall.model.domain.PmsCourseProduct" resultMap="BaseResultMap">
        SELECT DISTINCT
        pc.user_id,
        pc.title,
        pc.start_time,
        pc.image,
        pc.location,
        pc.id
    FROM
        oms_order om
        LEFT JOIN oms_order_item oi ON om.id = oi.order_id
        LEFT JOIN pms_course_product pc ON pc.user_id = om.shop_id
        <include refid="powerNotesWhere"></include>
    </select>

    <!-- 公用标签 -->
    <sql id="powerNotesWhere">
        <where>
            <!-- 日期区间查询 -->
            <if test="searchStartTime != null">
                and start_time &gt;= #{searchStartTime}
            </if>
            <if test="searchEndTime != null">
                and start_time &lt;= #{searchEndTime}
            </if>
                AND om.`status` = 2
                AND om.shop_id IS NOT NULL
                AND pc.user_id = #{userId}
        </where>
    </sql>

    <select id="queryPepleNum" parameterType="map" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        pms_course_product pc
        LEFT JOIN oms_order oo on oo.shop_id = pc.user_id
        LEFT JOIN oms_order_item oi on oi.order_id = oo.id
        WHERE
        pc.user_id = #{userId}
        AND
        oi.product_id = #{id}
        AND
        oi.product_type = #{productType}
        AND
        pc.product_type = #{productType}
        AND
        pc.id = #{id}
        AND pc.approval_status = 2
        AND oo.status not in (0,6)
    </select>
    <select id="selectCheckActivity" resultType="com.dmd.mall.model.domain.PmsCourseProduct">
        select <include refid="Base_Column_List"/>
        from pms_course_product
        where approval_status != 3
        and status != 3
        and status != 2
        and user_id = #{userId}
        <if test="id != null">
            and id != #{id}
        </if>
        and (date_format(start_time,'%Y-%m-%d') BETWEEN #{startTime,jdbcType=DATE} and #{endTime,jdbcType=DATE}
        or date_format(end_time,'%Y-%m-%d') BETWEEN #{startTime,jdbcType=DATE} and #{endTime,jdbcType=DATE})
    </select>
    <select id="selectCourseProductById" resultType="com.dmd.mall.model.vo.PmsCourseListVo">
        select
            uc.id coachId, uc.icon coachIcon, uc.coach_name coachName, uc.coach_grade, psp.id, psp.product_name, psp.title, psp.image, psp.price, psp.location, psp.start_time, psp.end_time, psp.status
        from pms_course_product psp, ums_coach uc
        where uc.id = psp.user_id
        and uc.status = 2
        and psp.id = #{productId}
        and psp.status not in (2,3)
        and psp.approval_status = 2
        order by sort desc
    </select>

    <select id="queryPmsCourseProduct" parameterType="java.lang.String" resultMap="BaseResultMap">
      SELECT
        pc.id,
        pc.user_id,
        pc.location,
        pc.title,
        pc.image,
        pc.price,
        uc.icon AS coachIcon,
        uc.coach_name AS coachName,
        uc.coach_grade AS coachGrade,
        pc.product_type
      FROM
	    pms_course_product pc
	  LEFT JOIN ums_coach uc ON pc.user_id = uc.id
        <where>
            <if test="content != null and content != ''">
                AND pc.title LIKE CONCAT(CONCAT('%',#{content}),'%')
            </if>
            AND pc.approval_status = 2
            AND pc.status = 1
            AND pc.product_type = 2
        </where>
        ORDER BY pc.sales DESC
    </select>
    <select id="selectByUserId" resultType="com.dmd.mall.model.domain.PmsCourseProduct">
        select <include refid="Base_Column_List"/>
        from pms_course_product
        where user_id = #{userId}
        and certificate_id = #{certificateId}
        and address_id = #{addressId}
    </select>

    <select id="queryPmsCourseProductByType" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        pc.id,
        pc.user_id,
        pc.location,
        pc.title,
        pc.image,
        pc.price,
        uc.icon AS coachIcon,
        uc.coach_name AS coachName,
        uc.coach_grade AS coachGrade,
        pc.product_type
        FROM
        pms_course_product pc
        LEFT JOIN ums_coach uc ON pc.user_id = uc.id
        <where>
            <if test="content != null and content != ''">
                AND pc.title LIKE CONCAT(CONCAT('%',#{content}),'%')
            </if>
            AND pc.approval_status = 2
            AND pc.status = 1
            AND pc.product_type = 1
        </where>
        ORDER BY pc.sales DESC
    </select>
    <select id="countCertificateProductNum" resultType="java.lang.Long">
        select count(1) from pms_course_product
        where product_type = #{productType}
        and certificate_id = #{certificateId}
        and approval_status = 2
        and status not in (2,3)
    </select>
    <select id="countCertificateProductNumByAddrrss" resultType="java.util.Map">
        select address_id addressId, count(1) num from pms_course_product
        where product_type = #{productType}
        and certificate_id = #{certificateId}
        and approval_status = 2
        and status not in (2,3)
        group by address_id
    </select>
    <select id="selectByStatus" resultType="com.dmd.mall.model.domain.PmsCourseProduct">
        select <include refid="Base_Column_List"/>
        from pms_course_product
        where status = #{status}
        and approval_status = 2
    </select>
    <select id="selectSellerCourseProductListByType" resultType="com.dmd.mall.model.vo.PmsCourseListVo">
        select
            uc.id coachId, uc.icon coachIcon, uc.coach_name coachName, uc.coach_grade, psp.id, psp.product_name, psp.title, psp.image, psp.price, psp.location, psp.start_time, psp.end_time
        from pms_course_product psp, ums_coach uc
        where uc.id = psp.user_id
        and uc.status = 2
        and (psp.product_type = 2 or psp.product_type = 3)
        and psp.user_id = #{userId}
        and psp.approval_status = 2
        order by sort,psp.update_time desc
    </select>
    <select id="selectProductByUserId" resultType="com.dmd.mall.model.domain.PmsCourseProduct">
        select <include refid="Base_Column_List"/>
        from pms_course_product
        where status = 1
        and approval_status = 2
        and user_id = #{userId}
        and product_type = #{productType}
        order by update_time desc
    </select>

    <select id="queryPowerNotesCoachPage" parameterType="com.dmd.mall.model.domain.PmsCourseProduct" resultType="com.dmd.mall.model.domain.PmsCourseProduct">
        SELECT
            pc.id,
            pc.image,
            pc.product_name,
            pc.title,
            pc.start_time,
            pc.end_time,
            pc.user_id,
            pc.product_type,
            pc.location
        FROM
            pms_course_product pc
        WHERE
            approval_status = 2
            AND pc.user_id = #{userId}
        <!-- 日期区间查询 -->
        <if test="searchStartTime != null">
            and date_format( start_time, '%Y-%m-%d' ) = #{searchStartTime}
        </if>
    </select>


    <select id="queryPowerNotesCoachToMonth" parameterType="java.lang.Long" resultType="com.dmd.mall.model.domain.PowerNotesBean">
        SELECT
        pc.id,
        pc.image,
        pc.product_name,
        pc.title,
        pc.start_time,
        pc.end_time,
        pc.user_id,
        pc.product_type,
        pc.location,
        pc.product_id
        FROM
        pms_power_notes pc
        WHERE
        /*approval_status = 2*/
        pc.user_id = #{userId}
        AND DATE_FORMAT( start_time, '%Y%m' ) = DATE_FORMAT( CURDATE() , '%Y%m' )

    </select>
    <select id="countSellerProductNum" resultType="java.lang.Long">
        select count(1) from pms_course_product where user_id = #{coachId} and status !=3 and approval_status != 1 and approval_status != 3
    </select>

    <select id="selectProductId" parameterType="map" resultType="java.lang.Integer">
        select count(1) FROM pms_power_notes where user_id = #{userId} AND product_id = #{id}
    </select>

    <insert id="addProwerNotes" parameterType="com.dmd.mall.model.domain.PowerNotesBean">
        INSERT INTO pms_power_notes(
        image,
        title,
        product_name,
        start_time,
        end_time,
        user_id,
        product_type,
        product_id,
        location
        )
        VALUES (
        #{image,jdbcType=VARCHAR},
        #{title,jdbcType=VARCHAR},
        #{productName,jdbcType=VARCHAR},
        #{startTime,jdbcType=TIMESTAMP},
        #{endTime,jdbcType=TIMESTAMP},
        #{userId,jdbcType=BIGINT},
        #{productType,jdbcType=INTEGER},
        #{productId,jdbcType=BIGINT},
        #{location,jdbcType=VARCHAR}
        )
    </insert>

    <select id="selectPowerNotesPage" parameterType="com.dmd.mall.model.domain.PmsCourseProduct" resultType="com.dmd.mall.model.domain.PowerNotesBean">
        SELECT
        pc.id,
        pc.image,
        pc.title,
        pc.product_name,
        pc.start_time,
        pc.end_time,
        pc.user_id,
        pc.product_type,
        pc.remarks,
        pc.product_id,
        pc.location
        FROM
        pms_power_notes pc
        WHERE pc.user_id = #{userId}
        <!-- 日期区间查询 -->
        <if test="searchStartTime != null">
            and date_format( start_time, '%Y-%m-%d' ) = #{searchStartTime}
        </if>

    </select>
</mapper>
