<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmd.mall.mapper.PmsSkuStockMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmd.mall.model.domain.PmsSkuStock">
    <result column="id" property="id" />
    <result column="creator" property="creator" />
    <result column="creator_id" property="creatorId" />
    <result column="created_time" property="createdTime" />
    <result column="last_operator" property="lastOperator" />
    <result column="last_operator_id" property="lastOperatorId" />
    <result column="update_time" property="updateTime" />
        <result column="product_id" property="productId" />
        <result column="sku_code" property="skuCode" />
        <result column="price" property="price" />
        <result column="stock" property="stock" />
        <result column="low_stock" property="lowStock" />
        <result column="spec" property="spec" />
        <result column="pic" property="pic" />
        <result column="sale" property="sale" />
        <result column="promotion_price" property="promotionPrice" />
        <result column="lock_stock" property="lockStock" />
        <result column="status" property="status" />
        <result column="title" property="title" />
        <result column="is_default" property="isDefault" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        creator,
        creator_id,
        created_time,
        last_operator,
        last_operator_id,
        update_time,
        product_id, sku_code, price, stock, low_stock, spec, pic, sale, promotion_price, lock_stock, status, title, is_default
    </sql>

    <select id="selectSkuMessageByProductId" resultType="com.dmd.mall.model.domain.PmsSkuStock">
        select * from pms_sku_stock where product_id = #{productId}
    </select>
</mapper>
