<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmd.mall.mapper.SmsShopActivityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmd.mall.model.domain.SmsShopActivity">
    <result column="id" property="id" />
    <result column="creator" property="creator" />
    <result column="creator_id" property="creatorId" />
    <result column="created_time" property="createdTime" />
    <result column="last_operator" property="lastOperator" />
    <result column="last_operator_id" property="lastOperatorId" />
    <result column="update_time" property="updateTime" />
        <result column="title" property="title" />
        <result column="activity_time" property="activityTime" />
        <result column="activity_image" property="activityImage" />
        <result column="activity_detail" property="activityDetail" />
        <result column="show_status" property="showStatus" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        creator,
        creator_id,
        created_time,
        last_operator,
        last_operator_id,
        update_time,
        title, activity_time, activity_image, activity_detail, show_status, sort
    </sql>
    <select id="selectShopAvtivityList" resultType="com.dmd.mall.model.domain.SmsShopActivity">
        select <include refid="Base_Column_List"/>
        from sms_shop_activity
        where show_status = 1
    </select>

</mapper>
