<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmd.mall.mapper.UmsCoachRebateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmd.mall.model.domain.UmsCoachRebate">
    <result column="id" property="id" />
    <result column="creator" property="creator" />
    <result column="creator_id" property="creatorId" />
    <result column="created_time" property="createdTime" />
    <result column="last_operator" property="lastOperator" />
    <result column="last_operator_id" property="lastOperatorId" />
    <result column="update_time" property="updateTime" />
        <result column="user_id" property="userId" />
        <result column="coach_id" property="coachId" />
        <result column="order_sn" property="orderSn" />
        <result column="pay_amount" property="payAmount" />
        <result column="rebate_amount" property="rebateAmount" />
        <result column="rebate_ratio" property="rebateRatio" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        creator,
        creator_id,
        created_time,
        last_operator,
        last_operator_id,
        update_time,
        user_id, coach_id, order_sn, pay_amount, rebate_amount, rebate_ratio
    </sql>
    <select id="selectByCoachAndUserId" resultType="com.dmd.mall.model.domain.UmsCoachRebate">
        SELECT <include refid="Base_Column_List"/>
        from ums_coach_rebate
        where user_id = #{userId}
        and coach_id = #{coachId}
    </select>
    <select id="countCoachRebateByCoachId" resultType="java.math.BigDecimal">
        SELECT count(rebate_amount)
        from ums_coach_rebate
        where coach_id = #{coachId}
    </select>

</mapper>
