<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmd.mall.mapper.UmsCoachShopMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmd.mall.model.domain.UmsCoachShop">
    <result column="id" property="id" />
    <result column="creator" property="creator" />
    <result column="creator_id" property="creatorId" />
    <result column="created_time" property="createdTime" />
    <result column="last_operator" property="lastOperator" />
    <result column="last_operator_id" property="lastOperatorId" />
    <result column="update_time" property="updateTime" />
        <result column="coach_id" property="coachId" />
        <result column="name" property="name" />
        <result column="logo" property="logo" />
        <result column="telephone" property="telephone" />
        <result column="level" property="level" />
        <result column="introduction" property="introduction" />
        <result column="announcement" property="announcement" />
        <result column="qualification" property="qualification" />
        <result column="is_auto_reply" property="isAutoReply" />
        <result column="reply_id" property="replyId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        creator,
        creator_id,
        created_time,
        last_operator,
        last_operator_id,
        update_time,
        coach_id, name, logo, telephone, level, introduction, announcement, qualification, is_auto_reply, reply_id
    </sql>
    <select id="selectByCoachId" resultType="com.dmd.mall.model.domain.UmsCoachShop">
        SELECT <include refid="Base_Column_List"/>
        from ums_coach_shop
        where coachId = #{coachId}
    </select>

</mapper>
