<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmd.mall.mapper.UmsFavoritesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmd.mall.model.domain.UmsFavorites">
        <result column="id" property="id" />
        <result column="status" property="status" />
        <result column="creator" property="creator" />
        <result column="creator_id" property="creatorId" />
        <result column="created_time" property="createdTime" />
        <result column="last_operator" property="lastOperator" />
        <result column="last_operator_id" property="lastOperatorId" />
        <result column="update_time" property="updateTime" />
        <result column="user_id" property="userId" />
        <result column="user_type" property="userType" />
        <result column="favorite_type" property="favoriteType" />
        <result column="target_id" property="targetId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        creator,
        creator_id,
        created_time,
        last_operator,
        last_operator_id,
        update_time,
        user_id, favorite_type, target_id,status, user_type
    </sql>
    <update id="updateAttentionStatus">
        update ums_favorites
        set status = #{umsFavorites.status}, update_time = now(), last_operator = #{userName}, last_operator_id = #{userId}
        where favorite_type = #{umsFavorites.favoriteType} and user_id = #{userId} and target_id = #{umsFavorites.targetId} and user_type = #{umsFavorites.userType}
    </update>


    <select id="queryAttentionUser" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM ums_favorites WHERE user_id = #{userId} and status =1 and favorite_type = 1 or favorite_type = 2
    </select>
    <select id="selectAttentionMessage" resultType="com.dmd.mall.model.domain.UmsFavorites">
        select <include refid="Base_Column_List"/>
        from ums_favorites
        where user_id = #{userId}
        and favorite_type = #{favoriteType} and target_id = #{targetId} and user_type = #{userType}
    </select>


    <select id="queryFavoritesCount" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT count(*) FROM ums_favorites WHERE user_id = #{userId} AND (favorite_type = 1 OR favorite_type = 2 OR favorite_type = 6) and status = 1
    </select>
    <select id="queryAttentionTopic" resultType="com.dmd.mall.model.domain.UmsFavorites">
        SELECT <include refid="Base_Column_List"/> FROM ums_favorites WHERE user_id = #{userId} and favorite_type = 6 and status =1
    </select>
</mapper>
