<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmd.mall.mapper.UmsNoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmd.mall.model.domain.UmsNotice">
    <result column="id" property="id" />
    <result column="creator" property="creator" />
    <result column="creator_id" property="creatorId" />
    <result column="created_time" property="createdTime" />
    <result column="last_operator" property="lastOperator" />
    <result column="last_operator_id" property="lastOperatorId" />
    <result column="update_time" property="updateTime" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="is_cancel" property="isCancel" />
        <result column="is_delete" property="isDelete" />
        <result column="type" property="type" />
        <result column="message_type" property="messageType" />
        <result column="user_type" property="userType" />
        <result column="source_user_id" property="sourceUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        creator,
        creator_id,
        created_time,
        last_operator,
        last_operator_id,
        update_time,
        title, content, is_cancel, is_delete, type, message_type, user_type, source_user_id
    </sql>
    <select id="selectById" resultType="com.dmd.mall.model.domain.UmsNotice">
        select <include refid="Base_Column_List"/>
        from ums_notice
        where id = #{noticeId} and message_type = #{messageType} and is_delete = 1 and is_cancel = 1
    </select>
    <select id="selectByType" resultType="com.dmd.mall.model.domain.UmsNotice">
        select <include refid="Base_Column_List"/>
        from ums_notice
        where type = #{type}  and message_type = #{messageType} and is_delete = 1 and is_cancel = 1
    </select>

</mapper>
