<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmd.mall.mapper.UmsShopReplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmd.mall.model.domain.UmsShopReply">
    <result column="id" property="id" />
    <result column="creator" property="creator" />
    <result column="creator_id" property="creatorId" />
    <result column="created_time" property="createdTime" />
    <result column="last_operator" property="lastOperator" />
    <result column="last_operator_id" property="lastOperatorId" />
    <result column="update_time" property="updateTime" />
        <result column="coach_id" property="coachId" />
        <result column="shop_id" property="shopId" />
        <result column="question_name" property="questionName" />
        <result column="question_answering" property="questionAnswering" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        creator,
        creator_id,
        created_time,
        last_operator,
        last_operator_id,
        update_time,
        coach_id, shop_id, question_name, question_answering, is_delete
    </sql>
    <select id="selectReplyMessage" resultType="com.dmd.mall.model.domain.UmsShopReply">
        SELECT <include refid="Base_Column_List"/>
        FROM ums_shop_reply
        WHERE is_delete = 2
        AND coach_id = #{coachId}
    </select>

</mapper>
